.admin_root {
    width: 100%;
    padding: 0%;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    z-index: 100;
    background: #fff;
}

.logo {
    font-weight: 700;
    color: black;
    margin-left: 1rem;
}

/* admin top bar */
.adminTopbar {
    padding: 1rem 2rem;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid black;
}

.adminTopbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

/* admin left navbar */
.adminNavbar {
    display: flex;
    flex-direction: column;
    padding: 20pt;
    gap: 20px;
    border-right: 1px solid black;
    width: 313px;
    background-color: white;
}

.adminNavbar .crossNav {
    display: none;
    pointer-events: none;
}

.hid-menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .adminNavbar {
        position: absolute;
        left: -50%;
        top: 0;
        z-index: 1000;
        height: 100dvh;
        transition: all .4s ease-in-out;
        padding: 2.85rem 2rem 2rem;

    }

    .adminNavbar.active {
        left: 0%;
    }

    .adminNavbar .crossNav {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 7px;
        pointer-events: none;
        width: 20px;
        height: 20px;
        background: #ff8f5b;
        border-radius: 50px;
        color: #fff;
        font-weight: 700;
        border: 0;
        text-align: center;
        cursor: pointer;
        pointer-events: all;
        transition: all .2s ease-in-out;

    }

    .crossNav:hover {
        background-color: #eb6222;
    }



    .hid-menu {
        display: block;
    }
}

.adminNavbar button {
    width: 100%;
}

.adminNavbar div {
    border-radius: 10px;
    background-color: #E6E6E6;
    padding: 1rem;
    height: 100%;
    position: relative;
}

.adminNavbar div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 1rem;
    overflow-y: auto;
    text-transform: capitalize;
}

.adminNavbar div ul li {
    transition: all .15s ease-in-out;
}

.adminNavbar div ul li.bg-white {
    background-color: white;
}

.adminNavbar div ul li:hover {
    cursor: pointer;
    background-color: #fff;
}


.adminNavbar .btn-logout {
    background-color: #FF4444;
    color: white;
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
    width: 90%;
}

/* admin router box */
.adminRouteBox {
    border-radius: 10px;
    border: 1px solid #0008;
    width: 90%;
    margin: 1rem;
    margin-bottom: 1.2rem;
    overflow-y: hidden;
    position: relative;
}

@media screen and (max-width: 720px) {
    .adminRouteBox {
        margin-left: 5%;
    }
}

.adminRouteBox .routeName {
    padding: 1rem 20pt;
    text-transform: capitalize;
    color: #4D4D4D;
    background-color: #fff;
    font-size: 25px;
    z-index: 100;
    border-bottom: 1px solid #0008;
    position: sticky;
    top: 0%;
}


/* admin users */
.users-box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.users-box td.username {
    text-align: left;
    flex: 2;
}

/* product box */
.products-box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}


/* universal table */
table {
    position: absolute;
    width: 100%;

}

table thead {
    background-color: #fff;
    position: sticky;
    top: 0%;

}

tr th {
    border-right: 1px solid black;
    border-bottom: 1pt solid black;
    padding: .4rem 1rem;
}

tr th:last-child {
    border-right: none;
}

.popcard {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0b0d29cc;
    width: 80%;
    height: 80%;
    max-width: 600px;
    max-height: 700px;
    z-index: 140;
    border-radius: 25px;
    color: white;
    padding: 1rem;
}

.popcard header h2 {
    text-align: center;
    color: greenyellow;
    text-transform: uppercase;
}

.popcard .addItemForm {
    display: grid;
}

.addItemForm section {
    display: flex;
    gap: 10pt;
    margin: 2pt 5pt;
    background: #fff;
    position: relative;
    align-items: center;
    border-radius: 5px;
    padding: 5pt;
}

.addItemForm section label {
    color: black;
    margin-left: 10px;
    right: 5pt;
    flex-basis: 150px;
    position: relative;

}

.addItemForm section label::after {
    content: ":";
    position: absolute;
    right: 0;
}

.addItemForm .btn-add {
    margin: 20px auto;
    width: fit-content;
    padding: .5rem 2rem;
    border: 0;
    cursor: pointer;
    border-radius: .35rem;
    font-weight: 600;
    font-size: 1.15rem;
}

.addItemForm section input,
.addItemForm section input {
    outline: none;
    border: 0;
    padding: 8pt 5pt;
}

.addItemForm section table tbody td {
    text-align: center;
    border-bottom: 1px solid #4D4D4D;
    margin-bottom: 20px;
    padding: .25rem 0;
}