.admin_root {
    width: 100%;
    padding: 0%;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    z-index: 100;
    background: #fff;
}

.logo {
    font-weight: 700;
    color: black;
    margin-left: 1rem;
}

/* admin top bar */
.adminTopbar {
    padding: 1rem 2rem;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid black;
}

.adminTopbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

/* admin left navbar */
.adminNavbar {
    display: flex;
    flex-direction: column;
    padding: 20pt;
    gap: 20px;
    border-right: 1px solid black;
    width: 313px;
    background-color: white;
}

.adminNavbar .crossNav {
    display: none;
    pointer-events: none;
}

.hid-menu {
    display: none;
}

@media screen and (max-width: 720px) {
    .adminNavbar {
        position: absolute;
        left: -50%;
        top: 0;
        z-index: 1000;
        height: 100dvh;
        transition: all .4s ease-in-out;
        padding: 2.85rem 2rem 2rem;

    }

    .adminNavbar.active {
        left: 0%;
    }

    .adminNavbar .crossNav {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 7px;
        pointer-events: none;
        width: 20px;
        height: 20px;
        background: #ff8f5b;
        border-radius: 50px;
        color: #fff;
        font-weight: 700;
        border: 0;
        text-align: center;
        cursor: pointer;
        pointer-events: all;
        transition: all .2s ease-in-out;

    }

    .crossNav:hover {
        background-color: #eb6222;
    }



    .hid-menu {
        display: block;
    }
}

.adminNavbar button {
    width: 100%;
}

.adminNavbar div {
    border-radius: 10px;
    background-color: #E6E6E6;
    padding: 1rem;
    height: 100%;
    position: relative;
}

.adminNavbar div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    gap: 1rem;
    overflow-y: auto;
    text-transform: capitalize;
}

.adminNavbar div ul li {
    transition: all .15s ease-in-out;
}

.adminNavbar div ul li.bg-white {
    background-color: white;
}

.adminNavbar div ul li:hover {
    cursor: pointer;
    background-color: #fff;
}


.adminNavbar .btn-logout {
    background-color: #FF4444;
    color: white;
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
    width: 90%;
}

/* admin router box */
.adminRouteBox {
    border-radius: 10px;
    border: 1px solid #0008;
    width: 90%;
    margin: 1rem;
    margin-bottom: 1.2rem;
    overflow-y: hidden;
    position: relative;
}

@media screen and (max-width: 720px) {
    .adminRouteBox {
        margin-left: 5%;
    }
}

.adminRouteBox .routeName {
    padding: 1rem 20pt;
    text-transform: capitalize;
    color: #4D4D4D;
    background-color: #fff;
    font-size: 25px;
    z-index: 100;
    border-bottom: 1px solid #0008;
    position: sticky;
    top: 0%;
}


/* admin users */
.users-box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.users-box td.username {
    text-align: left;
    flex: 2;
}

/* product box */
.products-box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}


/* universal table */
table {
    position: absolute;
    width: 100%;

}

table thead {
    background-color: #fff;
    position: sticky;
    top: 0%;

}

tr th {
    border-right: 1px solid black;
    border-bottom: 1pt solid black;
    padding: .4rem 1rem;
}

tr th:last-child {
    border-right: none;
}

tr td {
    text-align: center;
    border-bottom: 1pt dashed #f77429;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

/* dash board || order list */
.dashboard {
    overflow: scroll;
    height: 70vh;
    padding: 5pt;
    display: grid;
    grid-template-columns: auto;
}

.dashboard .root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-wrap: nowrap;
    word-wrap: break-word;
}

.root div {
    flex: 1;
    border-bottom: 1.5pt solid #f75f23;
    margin: 1.5rem .85rem;
}








/* add item design || popup */
.popcard {

    background-color: #fff;
    padding: 1rem;
    height: 80%;
    overflow-y: auto;
}



.popcard .addItemForm {
    display: grid;

}

.addItemForm .field {
    display: grid;
    gap: 5.5pt;
    margin: 2pt 0;
    width: auto;
    background: #fff;
    position: relative;
    align-items: center;
    border-radius: 5px;
    padding: 5pt;
}

.addItemForm .field label {
    color: #242d3c;
    font-weight: 600;
}

.addItemForm .field span {
    font-size: .75rem;
    color: #0005;
}

.addItemForm .field input {
    outline: none;
    font-size: 1.15rem;
    border: 1.5pt solid #6f717444;
    border-radius: 5px;
    padding: 10pt;
    color: #365d85;
    transition: all .25s ease-in-out;
}

.addItemForm .field input:focus {
    border: 1.5pt solid #365d85;
}


.addItemForm .field .cata p {
    font-size: 1.15rem;
    border: 1.5pt solid #6f717444;
    border-radius: 5px;
    padding: 10pt;
    color: #365d85;
    transition: all .25s ease-in-out;
    text-transform: capitalize;
    width: 100%;
    font-weight: normal;
}

.addItemForm .field .cata p,
.addItemForm .field .cata p::selection {
    font-weight: normal;
    cursor: default;
    background-color: transparent;
}

.addItemForm .field .cata .cata-list {

    list-style: none;
    display: grid;
    height: auto;
    overflow-y: hidden;
    transition: all .25s ease-in;
}

.addItemForm .field .cata .cata-list li {
    font-size: 1.05rem;
    padding: 8pt;
    border-radius: 0;
    color: #365d85;
    transition: all .15s ease-in;
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;

}

textarea {
    resize: none;
    font-size: 1.15rem;
    border: 1.5pt solid #6f717444;
    border-radius: 5px;
    padding: 10pt;
    color: #365d85;
    transition: all .25s ease-in-out;
    width: 100%;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.addItemForm .field .cata .cata-list li:hover {
    background-color: #4f4efc;
    color: #E6E6E6;
}

/* size */
.addItemForm .field .size {
    display: flex;
    justify-content: space-between;
    gap: 15pt;
    align-items: center;
}

.btn-size,
.btn-size:focus,
.btn-add,
.btn-add:focus {
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    background-color: #247dd6;
    color: whitesmoke;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s ease-out;
}

.btn-size:hover,
.btn-add:hover {
    background-color: #0f66bd;
}

.btn-size {
    padding: 5pt 25pt;
    margin: 0 auto;
}

.btn-add {
    padding: 10pt 50pt;
    margin: 10pt auto;
}