.buy_card {

    display: grid;
    padding: 1rem;
    width: 100%;
    height: auto;
    min-height: 100dvh;
    z-index: 120;
    background-color: white;
    overflow-y: scroll;
}

.sect {
    width: 95%;
    height: 40vh;
    border-radius: 10px;
    margin: 10px auto;
    padding: 1rem;
    overflow: hidden;

}

.sect form {
    height: 80%;
    background-color: transparent;
    padding-right: 4pt;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(1, auto auto);
    gap: 10pt;
    justify-content: space-evenly;
    align-items: normal;
}

.buy_card form .form_box {
    margin: 1.25rem auto;
    height: fit-content;
}

.payment article {
    display: flex;
    justify-content: space-between;
}

.payment article .itemsInfo {
    height: 80%;
    padding-right: 4pt;
    overflow-y: auto;
}

.sect h2 {
    width: fit-content;
}

.location {
    background-color: #F9DEFF;

}

.location h2 {
    color: #851F9C;
}

.payment {
    position: relative;
    background-color: #FFD585;
    overflow-y: auto;

}


.payment h2 {
    color: #8A600E;
}

button.btn-m-0 {
    margin: 10px;
}

.buy_card .payment .confirm {
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    padding: .5rem 1.5rem;
    position: absolute;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background: #f0f3f5;
    font-weight: bold;
    text-transform: capitalize;
    border: 2.25pt solid #429beed5;
}

.buy_card .payment .confirm:hover {
    background-color: #ffe9ad;
}

.sect .form_box {
    position: relative;
    width: 100%;
    height: auto;
    padding: 3px;
    background-color: #fff;
    border: 2px solid #959595;
    margin: 2.65rem auto;
    border-radius: 2.5pt;
    transition: all 100ms ease-in;
}

.sect .form_box:focus-within,
.sect .form_box.email,
.sect .form_box.password {
    border: 2px solid darkblue;
}

.sect .form_box input {
    height: 30px;
    font-size: large;
    padding: 5px;
}


.form_box textarea {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.05rem;
}

@media (width>720px) {

    .buy_card main {
        display: flex;
        justify-content: space-between;
        gap: 10pt;
        height: auto;

    }

    .sect {
        height: 90%;
    }

    .sect .form_box {
        width: 80%;

    }

    .payment article {
        flex-direction: column;
    }

    .payment article .itemsInfo {
        margin-top: 1cm;
    }
}



/* login alert box */