.itemDetails {
    margin: auto;
    position: relative;
    width: 90%;
    padding: 0 10px;
}

.itemDetails .root_header {
    position: fixed;
    width: 100%;
    height: 62pt;
    top: 0%;
    left: 0%;
    display: inline-flex;
    align-items: center;
    transition: all 100ms ease-in;
    padding: 0 .5rem;
    border-radius: 0 0 15px 15px;
    justify-content: space-between;
    z-index: 50;
}

.navigation {
    display: inline-flex;
    gap: .7rem;
}

.itemDetails .search-box input,
.itemDetails .search-box input:focus {
    outline: none;
    offset: none;
    border: none;
    padding-left: 1rem;
}

/* hero */
.hero {
    width: 100%;
    margin: 10pt auto;
}

.hero .photo {
    position: sticky;
    top: 0;
    top: 15px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin: 40pt auto 25pt;
    z-index: -1;
}

.hero .photo img {
    width: 100%;
    max-width: 290px;
    margin: 0 auto;

}

.hero .photo div {
    position: fixed;
    bottom: 0%;
    transform: translateX(-50%);
    left: 50%;
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 5pt;
    padding: 10px;
    list-style-type: none;
}


.hero .photo ul.list li.active_photo {
    background-color: #525252 !important;
}

/*details & price */
.details {
    display: block;
    text-align: left;
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 1rem;
}


.details section {
    padding: 2pt 5pt;
}

.details section .hr {
    margin: 10pt auto 20pt;
    width: 90%;

}

.details section.info {
    display: block;
}

.details section.info .pro_id {
    font-size: 1rem;
    margin-bottom: 5pt;
}

.details section.info .pro_id span {
    text-decoration: underline;
    color: #3d7595;
}

.details section.info h2.title {
    color: black;
    font-size: 20pt;
}

.details section.info span.rating {
    color: #808080;
}

.details section.info p {
    font-size: 0.75rem;
}

.details section.size {
    display: block;
}

.details section.size h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.details section.size ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 10pt 0;
}

.details section.size ul li {
    padding: 2pt;
    text-align: center;
    background: #d9d9d9;
    border-radius: 5px;
    font-size: 12px;
}

.details section.avail_col ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.details section.avail_col ul li {
    padding: 12px;
    border-radius: 100px;
}

.pink {
    background-color: hotpink;
}

.violet {
    background-color: indigo;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.details section.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
}

.details section.price p span.taka {
    color: #14A51A;
    position: absolute;
    top: 50%;
    right: -25%;
    transform: translateY(-50%);
    font-size: .825rem;
    font-weight: 400;
    z-index: 0;
}


.details section.price article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.details section.price article button {
    height: 100%;

}

.details section.price p {
    font-size: 2.25rem;
    position: relative;
    z-index: 0;
    font-weight: bolder;
    margin: 5px auto;
}

/* question & answer */
.que_ans {
    text-align: left;
    padding: 10pt;
    margin: 10pt auto;
    border-radius: 10px;
    background-color: #dbf2ff;
    height: auto;
    min-height: 250px;
    display: flex;
    flex-basis: 2;
    flex-direction: column;
    justify-content: space-between;
}

.que_ans article h3 {
    color: #3d7595;
    font-size: 1.75rem;
    padding: 10pt 0;
}

.qustion_box {
    height: auto;
    padding: 2.5pt 2px;
    background: #fff;
    border-radius: 100px;
    margin: 5pt auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.qustion_box input,
.qustion_box input:focus {
    background: transparent !important;
    margin-left: 15pt;

    outline: none;
    border: none;
}

/* review cart design */
.review {
    background-color: #0000000D;
    border-radius: 25px;
    padding: 17pt;
    margin-top: 40px;
    position: relative;
}

.review hr {
    position: absolute;
    left: 0%;
    width: 100%;
    background: #000;
    filter: contrast(.5);
}

.review header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review .review_root_head {
    padding: 10pt;
}

.review .review_root_head span.rating {
    background-color: #FFB800;
    border-radius: 100px;
    padding: 1px 10pt;
    display: flex;
    align-items: center;
    gap: 2.5px;
    font-weight: 700;
}

.eachReview {
    display: block;
    color: royalblue;
    margin-bottom: 20pt;
}

/* review header */
.eachReview header {
    padding: 10pt;
}

.eachReview header section {
    vertical-align: middle;
}

.eachReview header section.left {
    display: flex;
    gap: 10pt;
}

.eachReview header section.left span {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 100px;
}

.eachReview header section.left p {
    padding: 0 25pt;
    align-items: center;
    display: flex;
    height: fit-content;
    align-self: center;
    border-radius: 50pt;
    background-color: #D9D9D9;
}

/* review message */

.eachReview .message {
    display: grid;
    gap: 5pt;
}

.eachReview .message p {
    padding: 10pt;
    border-radius: 8px;
    background-color: #D9D9D9;
}

.eachReview .message .p1 {
    width: 100%;
}

.eachReview .message .p2 {
    width: 60%;
}

/* shadow effect */

.details,
.que_ans,
.review {
    box-shadow: 0 0 30px -15px #111;
    border-radius: 25px;
}

/* desktop view */
@media (width > 720px) {
    .details {
        display: flex;
        justify-content: space-between;
        flex-basis: 1;
        flex-wrap: nowrap;
    }

    .details section.price {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .details section.price article {
        margin: 0;
    }

    .details section.price p {
        margin: 0;
    }

    .que_ans {
        height: 100%;
    }

    .flex-box-left {
        flex: 1;
    }



    .flex-box-right {
        flex: 1;
        display: flex;
        justify-content: center;
        gap: 5pt;
    }

    .review {
        height: auto;
    }
}