.login .title {
    font-size: 2em;
    color: black;
    text-align: center;
}

.login_details {
    display: block;
    margin: 2em auto;
}

.emailVerifyAlert {
    margin: 1ex auto;
    text-align: center;
    width: fit-content;
    border: 3px solid royalblue;
    border-radius: 5px;
    padding: 10pt 18pt;
    color: royalblue;
    background-color: ghostwhite;
}

.emailVerifyAlert p {
    display: flex;
    align-items: center;
    gap: 5px;
    word-spacing: .125rem;
}

.form_box {
    position: relative;
    width: 100%;
    padding: 2.15px;
    background-color: #fff;
    border: 2px solid #959595;
    margin: 2rem auto;
    border-radius: 10px;
    transition: all 100ms ease-in;
}

.form_box:focus-within,
.form_box.perfect {
    border: 2px solid royalblue;
}

.form_box input {
    height: 45px;
    font-size: small;
    padding: 5px;
}

.form_box label {
    position: absolute;
    top: -40%;
    font-size: 8.5pt;
}

.form_box .pass_icon {
    position: absolute;
    right: 2.5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    cursor: default;
}

.form_box .pass_err {
    position: absolute;
    bottom: -40%;
    left: 10px;
    font-size: .7rem;
    color: transparent;
    transition: all 100ms ease-in;

}

.form_box ul.password_tips b {
    color: #02fa;
    font-size: .6rem;
}

.form_box ul.password_tips {
    list-style-type: none;
    position: absolute;
    width: 50%;
    left: 10%;
    display: grid;
    gap: 1pt;
    font-size: xx-small;
    font-weight: 700;
}

.active {
    border: 2px solid royalblue;
}

.danger {
    border: 2px solid crimson;
}

.form_box ul.password_tips li {
    margin-bottom: -7pt;
    color: #910013;
}

.form_box .pass_err.show {
    color: orangered !important;
    transform: translateX(10px);
}

.otherSys {
    display: block;
    gap: 2rem;
}

.otherSys .singup {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c3c3c3;
    border-radius: 100px;
    padding: 15px 10px;
    width: 100%;
    font-family: sans-serif;
    margin: 1rem auto;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 100ms ease-in;
    gap: 10px;
}

.otherSys .singup:hover {
    background-color: #eeeeee;
}

/* pass reset box */
.passReset {
    width: fit-content;
    height: fit-content;
    padding: 5pt 10pt;
    background-color: #fff;
    border: 1.2px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 20px -10px #454545;
    margin: 0 auto;
}

.passReset p {
    align-items: center;
    display: flex;
    gap: 5px;
}

@media screen and (min-width:690px) {
    .flex-box {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 45%));
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        width: 100%;
        margin: auto;
    }

    .flex-box .form_box {
        border-right: 2pt solid slategray;
    }

}